<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="..\static\style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<script type="text/javascript">
    function showLanguageChanger() {
        document.getElementById("language_changer").style.visibility = "unset";
        document.getElementById("window_closer").style.visibility = "unset";
    }

    function windowCloser() {
        document.getElementById("language_changer").style.visibility = "hidden";
        document.getElementById("window_closer").style.visibility = "hidden";
    }
</script>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="navbar">
                <a class="navbar-item shadow rounded" href="/">
                    <span class="material-symbols-outlined">home</span>
                    <div class="tooltip">{{bookshelf.locale.get('menu.main_page')}}</div>
                </a>
                <a class="navbar-item shadow rounded" href="/books">
                    <span class="material-symbols-outlined">book_2</span>
                    <div class="tooltip">{{bookshelf.locale.get('menu.books')}}</div>
                </a>
                <a class="navbar-item shadow rounded" href="/persons">
                    <span class="material-symbols-outlined">person</span>
                    <div class="tooltip">{{bookshelf.locale.get('menu.persons')}}</div>
                </a>
                <a class="navbar-item shadow rounded" href="/organizations">
                    <span class="material-symbols-outlined">domain</span>
                    <div class="tooltip">{{bookshelf.locale.get('menu.organizations')}}</div>
                </a>
                <a class="navbar-item shadow rounded" href="/settings">
                    <span class="material-symbols-outlined">settings</span>
                    <div class="tooltip">{{bookshelf.locale.get('menu.settings')}}</div>
                </a>
                <div class="navbar-item shadow rounded" onclick="showLanguageChanger();">
                    <span class="material-symbols-outlined">translate</span>
                    <div class="tooltip">{{bookshelf.locale.get('menu.change_lang')}}</div>
                    <div class="language-changer rounded" id="language_changer">
                        <a href="/language/en">{{bookshelf.locale.get('lang:english')}}</a>
                        <a href="/language/ru">{{bookshelf.locale.get('lang:russian')}}</a>
                    </div>
                </div>
            </div>
            {% block page_content %} {% endblock %}
        </div>
        <div class="footer">
            <p class="footer-content">@antydemidov, 2024</p>
        </div>
    </div>
    <div id="window_closer" onclick="windowCloser();"></div>
</body>

</html>